<ul>
<li><a href="http://yorick.github.com">Home</a></li>
<li><a href="{{prefix}}/downloads.html">Downloads</a></li>
<li>Documentation<ul>
  <li><a href="{{prefix}}/manual/yorick.html">User Manual</a></li>
  <li><a href="{{prefix}}/qref/index.html">Quick Reference</a></li>
  <li><a href="{{prefix}}/stdlib/index.html">Standard Library</a></li>
  <li><a href="{{prefix}}/plugins/index.html">Plugins and Packages</a></li>
  </ul></li>
<li><a href="http://github.com/dhmunro/yorick"
       target="_blank">Browse Source Code</a></li>
<li><a href="http://yorick.sourceforge.net/phpBB3"
       target="_blank">User Forums</a></li>
<li><a href="http://github.com/yorick/yorick.github.com/wiki"
       target="_blank">Wiki</a></li>
</ul>
