<ul>
<li><a href="http://yorick.github.com">Home</a></li>
<li><a href="{{prefix}}/manual/yorick.html">User Manual</a></li>
<li><a href="{{prefix}}/qref/index.html">Quick Reference</a></li>
<li><a href="{{prefix}}/stdlib/index.html">Standard Library</a></li>
<li><a href="{{prefix}}/plugins/index.html">Plugins and Packages</a></li>
</ul>
<hr class="siderule" />
  <ul>
  <li><A href="./qrlang00.html">Language Reference</A></li>
  <li><A href="./qrfunc00.html">Function Reference</A></li>
  <li><A href="./qrio00.html">I/O Reference</A>
    <ul>
    <li><A href="./qrio00.html">Opening and Closing Text Files</A></li>
    <li><A href="./qrio01.html">Reading Text</A></li>
    <li><A href="./qrio02.html">Writing Text</A></li>
    <li><A href="./qrio03.html">Positioning a Text File</A></li>
    <li><A href="./qrio04.html">Opening and Closing Binary Files</A></li>
    <li><A href="./qrio05.html">Saving and Restoring Variables</A></li>
    <li><A href="./qrio06.html">Reading History Records</A></li>
    <li><A href="./qrio07.html">Writing History Records</A></li>
    <li><A href="./qrio08.html">Opening Non-PDB Files</A></li>
    <li><A href="./qrio09.html">Making Plots</A></li>
    <li><A href="./qrio10.html">Plot Paging and Hardcopy</A></li>
    <li><A href="./qrio11.html">Setting Plot Limits</A></li>
    <li><A href="./qrio12.html">Managing Graphics Windows</A></li>
    <li><A href="./qrio13.html">Graphics Query, Edit, and Defaults</A></li>
    </ul></li>
  </ul>
