<ul>
<li><a href="http://yorick.github.com">Home</a></li>
<li><a href="{{prefix}}/manual/yorick.html">User Manual</a></li>
<li><a href="{{prefix}}/qref/index.html">Quick Reference</a></li>
<li><a href="{{prefix}}/stdlib/index.html">Standard Library</a></li>
<li><a href="{{prefix}}/plugins/index.html">Plugins and Packages</a></li>
</ul>
<hr class="siderule" />
  <ul>
  <li><A href="./qrlang00.html">Language Reference</A></li>
  <li><A href="./qrfunc00.html">Function Reference</A>
    <ul>
    <li><A href="./qrfunc00.html">Including Source Files</A></li>
    <li><A href="./qrfunc01.html">Comments</A></li>
    <li><A href="./qrfunc02.html">Issuing Shell Commands</A></li>
    <li><A href="./qrfunc03.html">Matrix Multiplication</A></li>
    <li><A href="./qrfunc04.html">Information About Variables</A></li>
    <li><A href="./qrfunc05.html">Elementary Functions</A></li>
    <li><A href="./qrfunc06.html">Advanced Array Indexing</A></li>
    <li><A href="./qrfunc07.html">Index Range Functions</A></li>
    <li><A href="./qrfunc08.html">Logical Functions</A></li>
    <li><A href="./qrfunc09.html">Interpolation and Lookup Functions</A></li>
    <li><A href="./qrfunc10.html">Sorting</A></li>
    <li><A href="./qrfunc11.html">Transposing</A></li>
    <li><A href="./qrfunc12.html">Manipulating Strings</A></li>
    <li><A href="./qrfunc13.html">Generating Simple Meshes</A></li>
    <li><A href="./qrfunc14.html">Using Pointers</A></li>
    <li><A href="./qrfunc15.html">Instancing Data Structures</A></li>
    <li><A href="./qrfunc16.html">Reshaping Arrays</A></li>
    </ul></li>
  <li><A href="./qrio00.html">I/O Reference</A></li>
  </ul>
