<ul>
<li><a href="http://yorick.github.com">Home</a></li>
<li><a href="{{prefix}}/manual/yorick.html">User Manual</a></li>
<li><a href="{{prefix}}/qref/index.html">Quick Reference</a></li>
<li><a href="{{prefix}}/stdlib/index.html">Standard Library</a></li>
<li><a href="{{prefix}}/plugins/index.html">Plugins and Packages</a></li>
</ul>
<hr class="siderule" />
  <ul>
  <li><A href="./qrlang00.html">Language Reference</A>
    <ul>
    <li><A href="./qrlang00.html">Starting and Quitting Yorick</A></li>
    <li><A href="./qrlang01.html">Getting Help</A></li>
    <li><A href="./qrlang02.html">Error Recovery</A></li>
    <li><A href="./qrlang03.html">Array Data Types</A></li>
    <li><A href="./qrlang04.html">Constants</A></li>
    <li><A href="./qrlang05.html">Defining Variables</A></li>
    <li><A href="./qrlang06.html">Arithmetic and Comparison Operators</A></li>
    <li><A href="./qrlang07.html">Logical Operators</A></li>
    <li><A href="./qrlang08.html">Creating Arrays</A></li>
    <li><A href="./qrlang09.html">Indexing Arrays</A></li>
    <li><A href="./qrlang10.html">Array Conformability Rules</A></li>
    <li><A href="./qrlang11.html">Calling Functions</A></li>
    <li><A href="./qrlang12.html">Defining Functions</A></li>
    <li><A href="./qrlang13.html">Variable Scope</A></li>
    <li><A href="./qrlang14.html">Returning from Functions</A></li>
    <li><A href="./qrlang15.html">Compound Statements</A></li>
    <li><A href="./qrlang16.html">Conditional Execution</A></li>
    <li><A href="./qrlang17.html">Loops</A></li>
    </ul></li>
  <li><A href="./qrfunc00.html">Function Reference</A></li>
  <li><A href="./qrio00.html">I/O Reference</A></li>
  </ul>
